<div class="bg-body dark:bg-darkmode-body">
  {{ $image:= .Params.image }}
  {{ if $image }}
  {{ $image_url := printf "%s%s" site.BaseURL $image }}
  <div class="md:min-h-[400px] relative mb-5 rounded-lg transition-shadow hover:shadow-lg group hover:bg-slate-100/90 dark:hover:bg-blue-950">
    <!-- Image and Title Section -->
    <a href="{{ .RelPermalink }}" class="block">
      <div class="relative">
        <div class="relative h-48 md:h-64 lg:h-72 rounded-t-lg" style="background-image: url({{ $image_url }}); background-size: 200%; background-position: center;">
          {{ if not (in .Params.categories "work") }}
          <ul>
            <div class="absolute inset-0 bg-blue-300/70 dark:bg-blue-900/70 rounded-t-lg"></div>
          </ul>
          {{ else }}
          <div class="absolute inset-0 rounded-lg bg-{{ .Params.Colour }}-200/60 dark:bg-{{ .Params.Colour }}-900/70"></div>
          {{ end }}
          <div class="absolute inset-0 flex flex-col justify-between p-3 md:p-4">
            <h1 class="text-center text-3xl md:text-4xl font-bold text-blue-950">
              {{ .Title }}<br>
            </h1>
            <h1 class="text-center text-lg md:text-3xl font-bold text-blue-950 font-medium">{{ .Params.Subtitle }}</h1>
          </div>
        </div>      
        <!-- Content Section -->
        <div class="p-4 md:p-6 bg-slate-100 dark:bg-blue-950 rounded-lg">
          <p class="mb-4 md:mb-6 text-sm md:text-base/9 text-slate-800 dark:text-slate-100">{{ .Description }}</p>
          <a class="font-semibold text-slate-900 hover:text-slate-700 transition-colors" href="{{ .RelPermalink }}">
            {{ i18n "read_more" }}...
          </a>
        </div>
      </div>
    </a>
  </div>
  {{ end }}
</div>