// Custom styles

.logo { 
	
	> img {
		max-height: 48px;
		max-width: 48px;
	}

	> span {
		margin-left: 1rem;
	}
}

.btn-outline-primary:is(.dark *) {
    border-color: #feddbf / var(--tw-border-opacity);
    color: #feddbf / var(--tw-text-opacity);
}

.dark\:text-white:is(.dark *) {
    color: #feddbf / var(--tw-text-opacity) !important;
}

.theme-switcher span:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: #feddbf;
}

.btn-primary:is(.dark *) {
    background-color: #feddbf;
}

.btn-outline-primary:hover:is(.dark *) {
    background-color: #feddbf;;
}

.form-label:is(.dark *) {
    color: #feddbf;
}

.form-input {
    background-color: #012240;
    color: #fff;
}