// Custom styles

.logo { 
	
	> img {
		max-height: 48px;
		max-width: 48px;
	}

	> span {
		margin-left: 1rem;
	}
}

.btn-outline-primary:is(.dark *) {
    border-color: #feddbf / var(--tw-border-opacity);
    color: #feddbf / var(--tw-text-opacity);
}

.dark\:text-white:is(.dark *) {
    color: #feddbf / var(--tw-text-opacity) !important;
}

.theme-switcher span:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: #feddbf;
}

.btn-primary:is(.dark *) {
    background-color: #feddbf;
}

.btn-outline-primary:hover:is(.dark *) {
    background-color: #feddbf;;
}

.form-label:is(.dark *) {
    color: #feddbf;
}

.form-input {
    background-color: #012240;
    color: #fff;
}

.form-input::placeholder {
	color: darkgrey;
}

a.nav-link {
	font-size: 1.2rem;
}

.content {
	font-size: 1.2rem;
}

.stack {
    min-height: 43vh;
    padding-top: 13vh;
    padding-bottom: 13vh;
    border-radius: 10px;
}

.stack.dark {
    background-color: #feddbf;    
}

.bg-gradient.dark, .bg-gradient.dark h1, .bg-gradient.dark h2, .bg-gradient.dark h3, .bg-gradient.dark h4, .bg-gradient.dark h5, .bg-gradient.dark h6 {
    color: #feddbf;
}

.bg-gradient h1, .bg-gradient h2, .bg-gradient h3, .bg-gradient h4, .bg-gradient h5, .bg-gradient h6 {
    color: #f9f6f5;
}
  h1:is(.dark *),
  h3:is(.dark *),
  h4:is(.dark *),
  h5:is(.dark *),
  h6:is(.dark *) {
  --tw-text-opacity: 1;
  color: #012240;
}

.content :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: darkslateblue !important;
  background-color: lightsteelblue !important;
}