<header class="header {{ if site.Params.navbar_fixed }}sticky top-0{{ end }} z-30">
  <nav class="navbar container relative">
    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      for="nav-toggle"
      class="absolute right-1 top-1 cursor-pointer lg:hidden text-dark dark:text-white">
      <svg id="show-button" class="h-6 fill-current block" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
      <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>

    <!-- Navigation Menu -->
    <div id="nav-menu" class="hidden w-full flex-col items-center text-center lg:flex lg:flex-row lg:justify-between">
      <!-- Main Navigation -->
      <div class="flex flex-col space-y-3 lg:flex-row lg:space-y-0 lg:space-x-8">
        {{ $currentPage := . }}
        {{ range site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        {{ $pageURL:= $currentPage.Permalink | absLangURL }}
        {{ $active := eq $menuURL $pageURL }}
        {{ if .HasChildren }}
        <div class="nav-item nav-dropdown group relative">
          <span class="nav-link {{ range .Children }}{{ $childURL := .URL | absLangURL }}{{ $active := eq $childURL $pageURL }}{{ if $active }}active{{ end }}{{ end }} inline-flex items-center">
            {{ .Name }}
            <svg class="h-4 w-4 fill-current ml-1" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </span>
          <div class="nav-dropdown-list hidden group-hover:block lg:absolute lg:right-0 lg:mt-2">
            {{ range .Children }}
            {{ $childURL := .URL | absLangURL }}
            {{ $active := eq $childURL $pageURL }}
            <a
              class="nav-dropdown-link block px-4 py-2 {{ if $active }}active{{- end -}}"
              {{ if findRE `^http` .URL }}target="_blank" rel="noopener"{{ end }}
              href="{{- if findRE `^#` .URL -}}{{- if not $.IsHome -}}{{- site.Home.RelPermalink -}}{{- end }}{{- .URL -}}{{- else -}}{{- .URL | relLangURL -}}{{- end -}}">
              {{ .Name }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a
          class="nav-link {{ if $active }}active{{- end -}}"
          {{ if findRE `^http` .URL }}target="_blank" rel="noopener"{{ end }}
          href="{{- if findRE `^#` .URL -}}{{- if not $.IsHome -}}{{- site.Home.RelPermalink -}}{{- end }}{{- .URL -}}{{- else -}}{{- .URL | relLangURL -}}{{- end -}}">
          {{ .Name }}
        </a>
        {{ end }}
        {{ end }}
      </div>

      <!-- Utilities -->
      <div class="mt-4 flex justify-center space-x-4 lg:mt-0">
        {{ with site.Params.search }}
        {{ if .enable }}
        <button
          aria-label="search"
          class="text-dark hover:text-primary dark:text-white dark:hover:text-darkmode-primary text-xl"
          data-target="search-modal">
          <i class="fa-solid fa-search"></i>
        </button>
        {{ end }}
        {{ end }}
        
        {{ partial "components/theme-switcher" (dict "Context" . "Class" "mt-1 hover:text-primary dark:text-white dark:hover:text-darkmode-primary") }}
      </div>

      <!-- Get Started Button -->
      {{ if site.Params.navigation_button.enable }}
      <div class="mt-4 lg:mt-0">
        <a
          href="{{ site.Params.navigation_button.link | relLangURL }}"
          class="btn btn-outline-primary btn-sm">
          {{ site.Params.navigation_button.label }}
        </a>
      </div>
      {{ end }}
    </div>
  </nav>
</header>