{{ define "main" }}
<section class="section pt-7">
  <div class="container">
    <div class="row">

      <article class="px-4 md:px-6">
        <!-- Header Image and Title -->
        <div class="relative mb-6 md:mb-10">
          <a href="{{ .RelPermalink }}" class="block">
            {{ $image:= .Params.image }}
            {{ if $image }}

            {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-full h-48 md:h-64 lg:h-72 rounded object-cover") }}
            {{end}}
            <h1 class="absolute bottom-0 inset-x-0 p-4 text-lg md:text-2xl lg:text-3xl font-bold text-pacifica-blue bg-blue-100 bg-opacity-50 rounded-b">
              {{ .Title }}
            </h1>
          </a>
        </div>

        <!-- Meta Information -->
        <div class="flex flex-col space-y-3 mb-6">
          <div class="flex items-center">
            <i class="fa-regular fa-circle-user mr-2"></i>
            <a href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.author }}</a>
          </div>

          {{ if .Params.categories }}
          <div class="flex items-center flex-wrap">
            <i class="fa-regular fa-folder mr-2"></i>
            {{ range $i, $p := .Params.categories }}
            <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="mr-1">
              {{ . }}{{ if ne $i (sub (len $.Params.categories) 1) }}, {{ end }}
            </a>
            {{ end }}
          </div>
          {{ end }}

          <div class="flex items-center">
            <i class="fa-regular fa-clock mr-2"></i>
            <time>{{ time.Format ":date_long" .PublishDate }}</time>
          </div>
        </div>

        <!-- Content -->
        <div class="content prose dark:prose-invert max-w-none mb-8">
          {{ .Content }}
        </div>
      </article>
    </section>
  </div>
</div>
{{end}}