{{ define "main" }}
<!-- {{ partial "page-header" . }} -->
<section class="section-sm">
  <div class="container">
    <div class="md:col-10 lg:col-8 xl:col-6 mx-auto mb-4 text-center">
  <!-- Added padding for mobile -->
  <div class="px-4 sm:px-0">
    <h2 class="m1-4 mb-4 sm:text-2xl md:text-6xl" >
      {{ .Params.Title | markdownify }}
    </h2>
    <h6 class="m1-4 mb-4 md:text-3xl" style="color: #feddbf;">
      {{ .Params.aboutDescription | markdownify }}
    </h6>
  </div>
</div>
    <div class="row">
      <div style="position: relative; width: 90%; height: 0; padding-top: 50.625%;
      padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
      border-radius: 8px; will-change: transform; margin-left: auto; margin-right: auto;">
      <iframe style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
      src="https://www.canva.com/design/DAF6e_yFkZg/0_s5WP8PKhiA5hlnHqI0QA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
  </div>
</div>
</div>
</div>
</section>
{{ range $i, $e:= .Params.explainers }}
<section class="section-sm">
  <div class="container">
    <div class="row items-center justify-between">
      <div
      class="mb:md-0 {{ if (modBool $i 1) }} md:order-1 {{ end }}{{ if strings.Contains .title "stack" }}stack{{ end }} md:col-5 mb-6">
      <!-- Added responsive image handling -->
      <div class="px-4 sm:px-0">
        {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
      </div>
    </div>
    <div
    class="{{ if (modBool $i 2) }}md:order-2{{ end }} md:col-7 lg:col-6">
    <!-- Added mobile padding and text adjustments -->
    <div class="px-4 sm:px-0">
      <h3 class="mb-4 md:text-6xl sm:text-4xl">
        {{ .title | markdownify }}
      </h3>
      <p class="mb-8 text-base sm:text-lg">
        {{ .content | markdownify }}
      </p>
      <ul class="space-y-4">
        {{ range .bulletpoints }}
        <li class="relative pl-6">
          <i class="fa fa-check absolute left-0 top-1.5"></i>
          <div class="text-sm sm:text-base">{{ . | markdownify }}</div>
        </li>
        {{ end }}
      </ul>
      {{ with .button }}
      {{ if .enable }}
      <a class="btn btn-primary mt-6 text-sm sm:text-base" href="{{ .link | absURL }}">
        {{ .label }}
        <i class="fa fa-arrow-right pl-2"></i>
      </a>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
</div>
</section>

{{ end }}
{{ partial "components/testimonials" . }}
{{ end }}