{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<div class="z-10 flex flex-col items-center">
  <div class="flex-1 flex flex-col items-center w-full max-w-screen-md">
    <!-- Top Section with Image and Text -->
    <div class="flex flex-col items-center w-full px-4">
      <div class="w-full max-w-[20rem] md:max-w-[300px] lg:max-w-[460px] pt-4">
        {{ partial "image" (dict 
          "Src" .image 
          "Alt" "Banner image" 
          "Loading" "eager" 
          "Class" "animate__animated animate__fadeIn mx-auto w-full" 
          "DisplayXL" "700x" 
          ) }}
      </div>
      <div class="w-full text-center">
        <h1 class="animate__animated animate__fadeIn animate__slow my-6 text-4xl lg:text-5xl font-bold">{{ .Params.banner.title }} <span>{{ .title | markdownify }}</span></h1>
        <h1 class="animate__animated animate__fadeIn animate__slow my-6 text-3xl lg:text-4xl font-bold">{{ .Params.banner.title }} <span id="dynamic-word">Quickly</span>.</h1>
                <p class="animate__animated animate__fadeIn animate__slower mb-4 text-2xl lg:text-base">
          {{ .content | markdownify }}
        </p>
      </div>
    </div>
    <!-- Mobile Navigation -->
    <div id="mobile-nav" class="block lg:hidden w-full px-8 mb-8">
      <div class="flex flex-col items-center space-y-6">
        {{ $currentPage := . }}
        {{ range site.Menus.main }}
        {{ if ne .Name "Home" }}
        {{ $menuURL := .URL | absLangURL }}
        {{ $pageURL:= $currentPage.Permalink | absLangURL }}
        {{ $active := eq $menuURL $pageURL }}
        {{ if .HasChildren }}
        <div class="nav-item nav-dropdown group relative text-center">
          <span class="nav-link text-xl {{ range .Children }}{{ $childURL := .URL | absLangURL }}{{ $active := eq $childURL $pageURL }}{{ if $active }}active{{ end }}{{ end }} inline-flex items-center">
            {{ .Name }}
            <svg class="h-4 w-4 fill-current ml-1" viewBox="0 0 20 20">
              <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
            </svg>
          </span>
          <div class="nav-dropdown-list hidden group-hover:block absolute right-0 mt-2">
            {{ range .Children }}
            {{ $childURL := .URL | absLangURL }}
            {{ $active := eq $childURL $pageURL }}
            <a
              class="nav-dropdown-link block px-4 py-1 {{ if $active }}active{{- end -}}"
              {{ if findRE `^http` .URL }}target="_blank" rel="noopener"{{ end }}
              href="{{- if findRE `^#` .URL -}}{{- if not $.IsHome -}}{{- site.Home.RelPermalink -}}{{- end }}{{- .URL -}}{{- else -}}{{- .URL | relLangURL -}}{{- end -}}">
              {{ .Name }}
            </a>
            {{ end }}
          </div>
        </div>
        {{ else }}
        <a
          class="nav-link text-xl {{ if $active }}active{{- end -}}"
          {{ if findRE `^http` .URL }}target="_blank" rel="noopener"{{ end }}
          href="{{- if findRE `^#` .URL -}}{{- if not $.IsHome -}}{{- site.Home.RelPermalink -}}{{- end }}{{- .URL -}}{{- else -}}{{- .URL | relLangURL -}}{{- end -}}">
          {{ .Name }}
        </a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
      {{ with .button }}
      {{ if .enable }}
      <div class="mt-6 text-center">
        <a
          class="btn"
          href="{{ .link | absURL }}"
          {{ if strings.HasPrefix .link `http` }}
          target="_blank" rel="noopener"
          {{ end }}>
          {{ .label }}
          <i class="fa fa-envelope pl-2"></i>
        </a>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}