{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<div>
  <div class="row justify-center pt-7">
    <div class="col-12">
      {{ partial "image" (dict 
        "Src" .image 
        "Alt" "Banner image" 
        "Loading" "eager" 
        "Class" "mx-auto lg:!max-w-[460px]" 
        "DisplayXL" "700x" 
        ) }}
    </div>
    <div class="lg:col-7 md:col-9 mb-1 text-center">
      <h1 class="my-5 text-h3 lg:text-h1">
        {{ .title | markdownify }}
      </h1>
      <p class="mb-8">
        {{ .content | markdownify }}
      </p>
    </div>
  </div>
</div>
<div id="mobile-nav" class="block lg:hidden w-full flex-col items-center text-center">
  <!-- Main Navigation -->
  <div class="flex flex-col space-y-3">
    {{ $currentPage := . }}
    {{ range site.Menus.main }}
    {{ if ne .Name "Home" }}
    {{ $menuURL := .URL | absLangURL }}
    {{ $pageURL:= $currentPage.Permalink | absLangURL }}
    {{ $active := eq $menuURL $pageURL }}
    {{ if .HasChildren }}
    <div class="nav-item nav-dropdown group relative">
      <span class="nav-link {{ range .Children }}{{ $childURL := .URL | absLangURL }}{{ $active := eq $childURL $pageURL }}{{ if $active }}active{{ end }}{{ end }} inline-flex items-center">
        {{ .Name }}
        <svg class="h-4 w-4 fill-current ml-1" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
        </svg>
      </span>
      <div class="nav-dropdown-list hidden group-hover:block absolute right-0 mt-2">
        {{ range .Children }}
        {{ $childURL := .URL | absLangURL }}
        {{ $active := eq $childURL $pageURL }}
        <a
          class="nav-dropdown-link block px-4 py-1 {{ if $active }}active{{- end -}}"
          {{ if findRE `^http` .URL }}target="_blank" rel="noopener"{{ end }}
          href="{{- if findRE `^#` .URL -}}{{- if not $.IsHome -}}{{- site.Home.RelPermalink -}}{{- end }}{{- .URL -}}{{- else -}}{{- .URL | relLangURL -}}{{- end -}}">
          {{ .Name }}
        </a>
        {{ end }}
      </div>
    </div>
    {{ else }}
    <a
      class="nav-link {{ if $active }}active{{- end -}}"
      {{ if findRE `^http` .URL }}target="_blank" rel="noopener"{{ end }}
      href="{{- if findRE `^#` .URL -}}{{- if not $.IsHome -}}{{- site.Home.RelPermalink -}}{{- end }}{{- .URL -}}{{- else -}}{{- .URL | relLangURL -}}{{- end -}}">
      {{ .Name }}
    </a>
    {{ end }}
    {{ end }}
    {{ end }}
          {{ with .button }}
      {{ if .enable }}
      <a
        class="btn btn-primary"
        href="{{ .link | absURL }}"
        {{ if strings.HasPrefix .link `http` }}
        target="_blank" rel="noopener"
        {{ end }}>
        {{ .label }}
        <i class="fa fa-arrow-right pl-2"></i>
      </a>
      {{ end }}
      {{ end }}
  </div>
</div>
{{ end }}
{{ end }}